<div class="footer">
    <table width="100%">
        <tr>
            <p class="aligncenter content-block">
                TetraScience Inc &middot; info@tetrascience.com <br>
                125 Western Ave &middot; Harvard i-Lab &middot; Boston, MA 02134
            </p>
        </tr>
    </table>
</div></div>