<p>Thank you,<br>
    The TetraScience Team |
    <a href=<%= url%>>www.tetrascience.com</a><br>
    Internet-of-Things for laboratory <br>
    <img height=30px, src="https://s3.amazonaws.com/ts-web-public/img/logo_black.png">
</p>