<div ng-controller="TSSensorController" ng-init="">
    <div class="row">
        <div class="col-sm-3 col-xs-3">
            <img src="https://www.bakerco.com/sites/all/themes/baker/images/logo.png" width="100">
            <div>
                <h3>Current {{selectedParam.tslabel}}:</h3>
                <h1>{{selectedParam.data[0][1]}}{{selectedParam.unit}}</h1>
            </div>
            <div class="btn-group" style="margin-right:10px;" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle >
                    {{selectedParam.tslabel}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left-ts" role="menu">
                    <li ng-repeat="(key, option) in device.sensorMap">
                        <a href ng-click="selectParam(option)">{{option.tslabel}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" style="margin-right:10px;" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                    {{dropdownLabel}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left-ts" role="menu">
                    <li ng-repeat="option in rangeOptions">
                        <a href ng-click="setRangeAndUpdateGraph(option)">{{option.label}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <button class="btn btn-primary" style="margin-right:10px;" ng-click="setAutoUpdate(true)" ng-hide="isAutoUpdating"> <i class="glyphicon glyphicon-play"></i> </button>
                <button class="btn btn-primary" style="margin-right:10px;" ng-click="setAutoUpdate(false)" ng-show="isAutoUpdating"> <i class="glyphicon glyphicon-pause"></i> </button>
            </div>
        </div>
        <div class="col-sm-9 col-xs-9">
            <div class="flot-chart graph-container" style="height:180px;width:100%;margin-bottom:15px;"><flot dataset="[selectedParam]" options="options" width="100%" height="100%"></flot></div>
        </div>
    </div>
</div>
