<div ng-controller="TSAdaptorController">
    <div class="row">
        <div class="col-sm-12 col-xs-12 text-center">
            <h1 ng-init="display.result='No Data'">{{display.result.weight || 'None'}}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-center">
            <button class="btn btn-primary " ng-click="buttonClick('getWeight')">Single Acquisition</button>
        </div>
        <div class="col-sm-6 col-xs-6 text-center">
            <button class="btn btn-info btn-rounded" ng-click="buttonClick('zero')">Zero</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-xs-4 text-center">
            <button class="btn btn-primary" ng-disabled="multipleAcquisition.isLooping" ng-click="loopButtonClick('multipleAcquisition','getWeight')">Multiple Acquisition</button>
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
            <input type="text" class="form-control" placeholder="Interval" ng-disabled="multipleAcquisition.isLooping" ng-model="multipleAcquisition.delay">
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
            <input type="text" class="form-control" placeholder="#Samples" ng-disabled="multipleAcquisition.isLooping" ng-model="multipleAcquisition.reps">
        </div>
    </div>
    <div class="row" ng-show="multipleAcquisition.isLooping">
        <div class="col-sm-4 col-xs-4 text-center">
            <h3>{{multipleAcquisition.count}}/{{multipleAcquisition.reps}}</h3>
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
            <button class="btn btn-warning" ng-click="cancelLoop('multipleAcquisition')">Stop</button>
        </div>
    </div>
</div>
