<div ng-controller="TSAdaptorController" ng-init="">
	<div>
	    <h3 class="text-center">Status: {{device.params.status ? 'ON' : 'OFF' }}</h3>
	    <!--<button class="center-block btn btn-primary" data-deviceId="{{device._id}}" ng-click="toggleButtonClick(device)">Toggle</button>-->

	    <!--<h4 class="text-center">tch " ui-switch="{color:'#5bb9ef'}"  ng-change="toggleButtonClick(device)"/></input></h4>-->
	    <h4 class="text-center"><switch type="checkbox" ng-model="device.params.status" class="blue" ng-change="buttonClick('toggle')"></switch></h4>

	</div>
</div>
