<div ng-controller="TSAdaptorController" ng-init="setRate.rate = 10">
    <div class="row">
        <div class="col-sm-offset-1 col-xs-offset-1 col-sm-3 col-xs-6">
            <div class="text-center ts-control-box">
                <h5>Flow rate</h5>
                <br>
                <knob knob-data="setRate.rate" data-fgColor="#1AB394" data-width="70"></knob>
            </div>
        </div>

        <div class="clearfix visible-xs-block"><br></div>
        <div class="col-sm-3 col-xs-6">
            <div class="text-center ts-control-box">
                <h5>Volume</h5>
                <input type="text" class="form-control" placeholder="Size/Type" ng-model="setRate.rate">
                <br>
                <select class="form-control" ng-init="setRate.unit = 'MLH'" ng-model="setRate.unit">
                    <option value="PLM">pL/min</option>
                    <option value="NLM">nL/min</option>
                    <option value="ULM">&micro;L/min</option>
                    <option value="MLM">mL/min</option>
                    <option value="PLH">pL/hr</option>
                    <option value="NLH">nL/hr</option>
                    <option value="ULH">&micro;L/hr</option>
                    <option value="MLH">mL/hr</option>
                </select>
                <br>
                <button class="btn btn-info btn-rounded" ng-click="buttonClick('setRate')">Set</button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="text-center ts-control-box">
                <h5>Syringe</h5>
                <select class="form-control" ng-init="setDiameter.dia = 0.21" ng-model="setDiameter.dia">
                    <option value="0.1">Min</option>
                    <option value="0.15">1uL</option>
                    <option value="0.21">2uL</option>
                    <option value="0.33">5uL</option>
                    <option value="0.46">10uL</option>
                    <option value="0.73">25uL</option>
                    <option value="1.03">50uL</option>
                    <option value="1.46">100uL</option>
                </select>
                <br>
                <br>
                <br>
                <br>
                <button class="btn btn-info btn-rounded" ng-click="buttonClick('setDiameter')">Set</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-xs-6 text-center">
            <button class="btn btn-primary btn" ng-click="buttonClick('run')">Start</button>
        </div>
        <div class="col-sm-6 col-xs-6 text-center">
            <button class="btn btn-warning btn" ng-click="buttonClick('stop')">Stop</button>
        </div>
    </div>
</div>
