

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Activate your device</h5>

                    </div>
                    <div class="ibox-content">
                        <form ng-submit="activateDevice()" >
                            <div class="form-group">

                                <div class="form-group">
                                    <label > Activation Code</label>
                                    <input class="form-control" type="text" ng-model="activationCode" required></input>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary" value="Activate"></input>


                        </form>

                        <h4> Available Devices</h4>
                        <div ng-repeat="device in deviceList">
                            {{device.deviceType}} {{device.deviceName}} <i ng-if="device.isOwner" class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
