<div id="wrapper">
    <ng-include src="'/views/partials/sideNavBar.html'"></ng-include>
    <div id="page-wrapper" class="gray-bg dashboard-1">
        <ng-include src="'/views/partials/topNavBar.html'"></ng-include>

	<div class="row">
	    <div class="col-lg-2">
          <div class="ibox float-e-margins">
          IO Settings
          </div>
	    </div>
	    <div class="col-lg-6">
          <div class="ibox float-e-margins">
          Command Line interface
          </div>
	    </div>
	    <div class="col-lg-4">
          <div class="ibox float-e-margins">
          Command list
          </div>
	    </div>
  </div>
</div>
