<div class="form-inline" ng-controller="deviceShareController">
    <h4><i class="glyphicon glyphicon-user"></i>Sharing</h4>
    <form ng-submit="shareDevice()" name="deviceSharing_form">
        <div class="form-group">
            <label for="newUserEmail"> Email </label>
            <input id="newUserEmail"
                   class="form-control"
                   type="email"
                   placeholder="share@example.com"
                   ng-model="newUserEmail"
                   required>
            <input class="btn btn-primary"
                   type="submit"
                   value="Share">
        </div>
    </form>

    <br>
    <label> Current users: </label>
    <div ng-repeat="user in userList">

        <span>{{user.user.firstName}} {{user.user.lastName}}</span>
        <i ng-if="user.isOwner && !user.user.isAdmin" class="glyphicon glyphicon-star"></i>
        <i ng-if="user.user.isAdmin" class="glyphicon glyphicon-headphones"></i>

        <span ng-if="device.isOwner || currentUser.isAdmin" class="pull-right">
            <i ng-if="!user.isOwner" ng-click="deleteUser(user.user._id,$index)" class="glyphicon glyphicon-trash" href=""></i>
        </span>

    </div>
    <br>
    <p><i class="glyphicon glyphicon-headphones"></i> indicates TetraScience Support Specialist.</p>
    <p><i class="glyphicon glyphicon-star"></i> indicates owner.</p>

</div>
