

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-area-chart"></i> Sensor</h5>
                            <div class="ibox-tools">
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>Data rate : every 5 seconds</p>
                            <p>Temperature range : -200 &deg;C to +600 &deg;C</p>
                            <p>Temperature resolution: 0.25 &deg;C</p>
                            <p>Measurement accuracy : 1 &deg;C</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-camera"></i> Camera</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>Snapshot rate : every 2 seconds</p>
                            <p>Image resolution : 640 by 480</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-power-off"></i> Switch</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>Rating : 12A</p>
                            <p>Default switch status when TS-switch boots: OFF </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="glyphicon glyphicon-user"></i> Device Sharing and Ownership</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>Every user of the device can share it with other users, or invite other people</p>
                            <p>Only device owner can delete other users</p>
                            <p>To help you in emergency situations, ts-support@tetrascience.com is always listed as a owner</p>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="glyphicon glyphicon-screenshot"></i> Alert</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                           <p>Only device owner can set up global triggers that applies to all the users</p>
                            <p>You can choose email alert, text message alert or switch toggle alert</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-dashboard"></i> Adaptor</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>Start by clicking on <i class="fa fa-cog"></i> to pick an instrument driver.</p>
                            <p>Set parameters and click buttons to control the instrument</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-book"></i> Notebook</h5>
                        </div>
                        <div class="ibox-content">
                            <p>View your saved data in the notebook</p>
                            <p>Click on <i class="fa fa-wrench"></i> to choose which type of events you want to see </p>
                            <p>Click on <i class="fa fa-clock-o"></i> to select a time range (default is last hour) </p>
                            <p>Device owners can view other users' data</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-plus-square-o"></i> Activate Device </h5>
                        </div>
                        <div class="ibox-content">
                            <p>Locate the activation code on your TetraScience box</p>
                            <p>Click on Activate to add it to your dashboard </p>
                            <p>You automatically become the owner of the box </p>
                            <p>Each activation code can only be used once</p>
                        </div>
                    </div>
                </div>

            </div>




</div>