<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{device.deviceName}} Alerts</h4>
    </div>
    <div class="modal-body" style="overflow-y:auto">
        <div ng-repeat="sensor in device.sensorData">
            <div>
                <span>{{sensor.tslabel}}</span>
                <button class="btn btn-info pull-right" ng-click="captureSensor(sensor.paramId)">Save</button>
                <br><br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="captureSensorAll()">Save All</button>
        <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
    </div>

</div>