

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Profile</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <p>
                                <label>Username/Email:</label> <span>{{currentUser.email}}</span>
                            </p>
                            <p>
                                <label>First name:</label> <span>{{currentUser.firstName}}</span>
                            </p>
                            <p>
                                <label>Last name:</label> <span>{{currentUser.lastName}}</span>
                            </p>
                            <p>
                                <label>Password:</label> <button class="btn btn-primary" ng-click="passwordCollapsed = !passwordCollapsed">Change password</button>
                                <div collapse="passwordCollapsed">
                                    <div class="well well-lg">
                                        <label>Current password:</label> <input class="form-control" type="password" ng-model="currentPassword" required>
                                        <label>New password:</label> <input class="form-control" type="password" ng-model="newPassword" required>
                                        <label>Confirm new password:</label> <input class="form-control" type="password" ng-model="confirmPassword" required>
                                        <br>
                                        <button class="btn btn-primary" ng-click="changePassword()">Submit</button>
                                    </div>
                                </div>
                            </p>
                            <p>
                                <label>Phone: <span><a href="#" editable-text="currentUser.phone" e-style="color: blue" onbeforesave="updateUser('phone',$data)">{{ currentUser.phone || 'Click here to set'}}</a></span></label>
                            </p>
                            <p>
                                <label>Profile pic:</label>
                                <button class="btn btn-primary" ng-click="profilePicCollapsed = !profilePicCollapsed">Change profile picture</button>
                                <div collapse="profilePicCollapsed">
                                    <div class="well well-lg row">
                                        <div class="col-lg-8">
                                            <span ng-repeat="pic in profilePics">
                                                <img href="" style="margin-bottom: 10px; cursor:pointer;" alt="image" width="48" height="48" ng-src="images/{{pic.fileName}}" ng-click="setProfilePic(pic)"/>
                                            </span>
                                            <br>
                                            <div>
                                                <img href="" class="img-circle" alt="image" width="48" height="48" ng-src="images/{{tempPic}}" />

                                                <button class="btn btn-primary" ng-click="saveProfilePic()">Submit</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span>{{tempPicDescription}}</span>
                                        </div>

                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

