

        <div class="col-lg-12">
            <input ng-model="q" id="search" class="form-control" placeholder="Filter device">
            <hr>
        </div>

        <div class="col-lg-12" dir-paginate="device in deviceList | filter: q | itemsPerPage: 12" pagination-id="eventDeviceList">
            <div ng-controller="MyDataPanelController">
                <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> <i class="fa {{iconMap[device.deviceType]}}"></i> {{device.deviceName| limitTo: 35}}{{device.deviceName.length > 35 ? '...' : ''}} <a href="data:{{getDownloadLink()}}" download="{{currentUser.username}}_{{device.deviceName}}.csv">Download</a></h5>
                    <div class="ibox-tools">
                        <!--
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        -->
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li ng-show="device.eventFilter.click != undefined"> <input type="checkbox" ng-model="device.eventFilter.click"> click events </li>
                            <li ng-show="device.eventFilter.setParam != undefined"> <input type="checkbox" ng-model="device.eventFilter.setParam">set param events</li>
                            <li ng-show="device.eventFilter.data != undefined"> <input type="checkbox" ng-model="device.eventFilter.data">measurement</li>
                            <li ng-show="device.eventFilter.cameraSnapshot != undefined"><input type="checkbox" ng-model="device.eventFilter.cameraSnapshot">camera snapshot</li>
                            <li ng-show="device.eventFilter.sensorSnapshot != undefined"> <input type="checkbox" ng-model="device.eventFilter.sensorSnapshot">sensor snapshot</li>
                            <li ng-show="device.eventFilter.trigger != undefined"> <input type="checkbox" ng-model="device.eventFilter.trigger">trigger</li>
                            <li ng-show="device.eventFilter.switch != undefined"> <input type="checkbox" ng-model="device.eventFilter.switch">switch</li>
                            <li ng-show="device.eventFilter.error != undefined"> <input type="checkbox" ng-model="device.eventFilter.error">error</li>
                            <li ng-show="device.eventFilter.onlineOffline != undefined"> <input type="checkbox" ng-model="device.eventFilter.onlineOffline">switch</li>
                        </ul>
                        <a ng-click="isCollapsed = !isCollapsed">
                            <i class="fa fa-clock-o"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <div ng-if="!isCollapsed">
                        <div class="well well-lg">
                            <p>Start Time and Date:</p>

                            <div class="col-xs-12">

                                <div class="input-group pull-left col-xs-6" style="margin:40px 10px;">
                                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="startTime.time" is-open="startTime.opened" ng-required="true" show-button-bar="false" min-date="minDate" max-date="endTime.time" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openSelector($event, startTime)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>

                                </div>
                                <timepicker ng-model="startTime.time" class="pull-left" show-meridian="true" mousewheel="false"></timepicker>

                            </div>

                            <div class="clearfix"></div>
                            <p>End Time and Date:</p>
                            <div class="col-xs-12">

                                <div class="input-group pull-left col-xs-6" style="margin:40px 10px;">
                                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="endTime.time" is-open="endTime.opened" ng-required="true" show-button-bar="false" min-date="startTime.time" max-date="today" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openSelector($event, endTime)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>

                                </div>
                                <timepicker ng-model="endTime.time" class="pull-left" show-meridian="true" mousewheel="false"></timepicker>
                            </div>

                            <div class="clearfix"></div>
                            <button class="btn btn-primary pull-right" ng-click="confirmRangeSelection()">Confirm</button>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div ng-show="device.isOwner">
                        <select class="form-control" ng-model="selectedUser" ng-options="opt.label for opt in userOptions">
                        </select>
                        <hr>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Type</th>
                            <th>Event</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="event in device.events| filter:{user:selectedUser.value} | itemsPerPage:10 " pagination-id="'p'+ device._id" class="gradeX">

                            <td>{{event.time | date:'HH:mm:ss'}} </td>

                            <td><div ng-class="'alert alert-'+event.logLevel">{{event.eventType}}</div> </td>

                            <td ng-show="device.eventFilter.data" ng-if="event.eventType == 'data'">{{event.data.resultName}}: {{event.data.resultValue}}</td>

                            <td ng-show="device.eventFilter.setParam" ng-if="event.eventType == 'setParam'">Set {{event.data.paramName}} to {{event.data.paramValue}}</td>

                            <td ng-show="device.eventFilter.click" ng-if="event.eventType == 'click'">Clicked on: {{event.data.buttonName}}</td>

                            <td ng-show="device.eventFilter.cameraSnapshot" ng-if="event.eventType == 'cameraSnapshot'"><a href="{{event.data.imageUrl}}"><img ng-src="{{event.data.imageUrl}}" width="50" height="50"></a></td>

                            <td ng-show="device.eventFilter.sensorSnapshot" ng-if="event.eventType == 'sensorSnapshot'">
                                <a href="{{event.data.csvUrl}}">sensor data captured</a>
                                <div class="graph-container" style="height:80px;width:90%;padding: 10px;">
                                    <flot dataset="event.sensorData" options="options" width="100%" height="100%"></flot>
                                </div>
                            </td>

                            <td ng-show="device.eventFilter.trigger" ng-if="event.eventType == 'trigger'">Value reached: {{event.data.value}}, which is {{event.data.comparator}} than {{event.data.threshold}}</td>

                            <td ng-show="device.eventFilter.switch" ng-if="event.eventType == 'switch'">{{event.data.status}}</td>

                            <td ng-show="device.eventFilter.error" ng-if="event.eventType == 'error'">{{event.data.error}}</td>

                            <td ng-show="device.eventFilter.onlineOffline" ng-if="event.eventType == 'onlineOffline'">Device went {{event.data.status}}</td>

                            <td>{{event.data.annotation}}</td>


                        </tr>


                        </tbody>

                    </table>

                    <dir-pagination-controls boundary-links="true" pagination-id="'p' + device._id" template-url="/javascripts/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
            </div>
        </div>
        <dir-pagination-controls boundary-links="true" pagination-id="eventDeviceList" template-url="/javascripts/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>

    <div class="clearfix"></div>
