<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="PasswordResetController as ctrl">
    <div>
        <div>

            <h1 class="logo-name"><img src="/images/logo_black.png" height="80" style="margin-left: -40px"></h1>

        </div>
        <h3>Your lab in the cloud</h3>
        <p>Password Reset</p>
        <p>{{ctrl.email}}</p>
        <form class="m-t" role="form" ng-submit="ctrl.resetPassword()">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" required="" ng-model="ctrl.newPassword">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
        </form>
        <p class="m-t"> <small>TetraScience Inc. &copy; 2015</small> </p>
    </div>
</div>